[submodule "chtml"]
	path = chtml
	url = https://github.com/Maksasj/chtml
[submodule "chttp"]
	path = chttp
	url = https://github.com/Maksasj/chttp
[submodule "crfb"]
	path = crfb
	url = https://github.com/Maksasj/crfb
[submodule "nika"]
	path = nika
	url = https://github.com/Maksasj/nika
[submodule "euclib"]
	path = euclib
	url = git@github.com:Maksasj/euclib.git
[submodule "haul"]
	path = haul
	url = git@github.com:Maksasj/haul.git
[submodule "cora"]
	path = cora
	url = git@github.com:Maksasj/cora.git
[submodule "triton"]
	path = triton
	url = git@github.com:Maksasj/triton.git
